/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  .table-bordered > thead > tr > th {
    border: 1px solid #dadada;
  }
  .table-bordered > thead > tr > td {
    border: 1px solid #dadada;
  }

  #mobile-body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: roboto;
    width: 100%;
    height: 100%;
    background-color: #fcf;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999999;

    display: flex;
    flex-flow: column;
  }

  #mobile-content {
    flex: 1 1 auto;
    background-color: #ffc;
    z-index: 1;
  }

  #mobile-header {
    flex: 0 1 6rem;
    background-color: #cff;
  }

  #mobile-footer {
    flex: 0 1 6rem;
    background-color: #cfc;
    z-index: 1000;
    display: none;
  }

  #mobile-transparent-background {
    background-color: rgba(0, 0, 0, 0);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
  }

/*
-----------------------------------------------------
Hamburger Menu
-----------------------------------------------------
*/

  .hamburger-drawer {
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: #fcc;
    height: 100%;
    width: 0%;
    top: 0;
    z-index: 999;
  }

  #hamburger-top {
    width: 100%;
    height: 100%;
    display: flex;
  }

  #hamburger-drawer-top {
    left: 0;
    justify-content: start;
  }

  #hamburger-bottom {
    width: 100%;
    height: 100%;
    display: none;
    flex-flow: row;
    justify-content: end;
  }

  #hamburger-drawer-bottom {
    right: 0%;
    justify-content: end;
  }

  #hamburger-drawer-bottom > #hamburger-list-small {
    display: none;
    justify-content: end;
    flex-direction: column;
  }

  #hamburger-drawer-bottom > #hamburger-list-large {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }

  #hamburger-list-small {
    height: 100%;
    width: 100%;
    display: none;
  }

  #hamburger-list-large {
    height: 100%;
    width: 100%;
  }

  .hamburger-close-button {
    background-color: rgba(0, 0, 0, .1);
  }

  .hamburger-close-button svg {
    transform: scale(1.6);
  }

  .hamburger-menu-anchor {
    width: 6rem;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
  }

  .hamburger-menu-anchor svg {
    transform: scale(2);
  }

  .hamburger-list-entry {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% / 13);
    overflow: hidden;
    white-space: nowrap;
  }

  .menu-divider {
    display: block;
    bottom: 0%;
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(to right,  rgba(147,147,147,.2) 0%,rgba(147,147,147,.5) 50%,rgba(147,147,147,.2) 100%);
    align-self: flex-end;
}

/*
-----------------------------------------------------
Bottom Bar Menu
-----------------------------------------------------
*/

  #bottom-bar {
    display: none;
    z-index: 1000;
  }

  #bottom-bar-large {
    display: flex;
    z-index: 1000;
  }

  .bottom-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .bottom-bar-item {
    background-color: #fcc;
    width: inherit;
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding-top: 1.5rem;
    padding-left: .2rem;
    padding-right: .2rem;
    align-items: center;
    row-gap: .35rem;

    border-radius: .7rem;
  }

  .bottom-bar-item span {
    text-align: center;
    line-height: 1;
    font-size: 8pt;
  }

  #bottom-bar-drawers-container {
    position: absolute;
    width: 100%;
  }

  .bottom-bar-drawer {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: center;
    background-color: #fc1;
    width: 100%;
    height: 0vh;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    white-space: nowrap;
  }

  .bottom-bar-drawer-close {
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .bottom-bar-drawer-close svg {
    transform: scale(1.6);
  }

  .bottom-bar-drawer-item {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/*
-----------------------------------------------------
Content
-----------------------------------------------------
*/

  .content-list {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    height: 20%;
    background-color: #fff;
    padding: 7%;
  }

  .content-item-thumbnail {
    height: 100%;
    aspect-ratio: 1;
    background-color: #ccc;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: system-ui;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(23,23,23,.2);
    -webkit-background-clip: text;
      -moz-background-clip: text;
          background-clip: text;
  }

  /*
-----------------------------------------------------
Elements
-----------------------------------------------------
*/

/*
-----------------------------------------------------
Actinoids
-----------------------------------------------------
*/

  #thorium {
    background: linear-gradient(0.11turn, #6c3838, #db6e16);
  }

  #uranium {
    background: linear-gradient(0.11turn, #46bc86, #5cec45);
  }

  #plutonium {
    background: linear-gradient(0.11turn, #9961d8, #ffa23d);
  }

  #curium {
    background: linear-gradient(0.11turn, #385988, #8f7311);
  }

  #berkelium {
    background: linear-gradient(0.11turn, #1b401f, #72680b);
  }