<div id="bottom-bar" class="bottom-bar">
	<div class="bottom-bar-item"></div>
	<div class="bottom-bar-item"></div>
	<div class="bottom-bar-item"></div>
	<div class="bottom-bar-item"></div>
	<div class="bottom-bar-item"></div>
</div>