<div id="hamburger-list-large">
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Alkali Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Alkaline-Earth Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Transition Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Post-Transition Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Metalloids</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Nonmetals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Halogens</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Noble Gases</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Lanthanoids</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Actinoids</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Fictional Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Fictional Nonmetals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
</div>