<div id="hamburger-list-small">
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Alkali Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Alkaline-Earth Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Transition Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Post-Transition Metals</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="hamburger-list-entry">
		<div class="hamburger-entry-thumbnail"></div>
		<div class="hamburger-entry-Text"><span>Metalloids</span></div>
		<div class="buy-button"></div>
	</div>
</div>