<div id="mobile-body">
	<div id="mobile-header">
		{{ include('./subviews/content/hamburger-top.twig') }}
	</div>
	<div id="mobile-content">
		{{ include('./subviews/content/mobile-content.twig') }}
	</div>
	<div id="mobile-footer">
		{{ include('./subviews/content/hamburger-bottom.twig') }}
		{{ include('./subviews/content/bottom-bar.twig') }}
	</div>
</div>