<div id="UEQ-S">
	<div class="menu-divider"></div>
	<div id="obstructive-supportive" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>obstructive</span><span>supportive</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="obstructive-supportive" value="1">
			<input type="radio" id="html" name="obstructive-supportive" value="2">
			<input type="radio" id="html" name="obstructive-supportive" value="3">
			<input type="radio" id="html" name="obstructive-supportive" value="4">
			<input type="radio" id="html" name="obstructive-supportive" value="5">
			<input type="radio" id="html" name="obstructive-supportive" value="6">
			<input type="radio" id="html" name="obstructive-supportive" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="complicated-easy" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>complicated</span><span>easy</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="complicated-easy" value="1">
			<input type="radio" id="html" name="complicated-easy" value="2">
			<input type="radio" id="html" name="complicated-easy" value="3">
			<input type="radio" id="html" name="complicated-easy" value="4">
			<input type="radio" id="html" name="complicated-easy" value="5">
			<input type="radio" id="html" name="complicated-easy" value="6">
			<input type="radio" id="html" name="complicated-easy" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="inefficient-efficient" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>inefficient</span><span>efficient</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="inefficient-efficient" value="1">
			<input type="radio" id="html" name="inefficient-efficient" value="2">
			<input type="radio" id="html" name="inefficient-efficient" value="3">
			<input type="radio" id="html" name="inefficient-efficient" value="4">
			<input type="radio" id="html" name="inefficient-efficient" value="5">
			<input type="radio" id="html" name="inefficient-efficient" value="6">
			<input type="radio" id="html" name="inefficient-efficient" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="confusing-clear" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>confusing</span><span>clear</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="confusing-clear" value="1">
			<input type="radio" id="html" name="confusing-clear" value="2">
			<input type="radio" id="html" name="confusing-clear" value="3">
			<input type="radio" id="html" name="confusing-clear" value="4">
			<input type="radio" id="html" name="confusing-clear" value="5">
			<input type="radio" id="html" name="confusing-clear" value="6">
			<input type="radio" id="html" name="confusing-clear" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="boring-exciting" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>boring</span><span>exciting</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="boring-exciting" value="1">
			<input type="radio" id="html" name="boring-exciting" value="2">
			<input type="radio" id="html" name="boring-exciting" value="3">
			<input type="radio" id="html" name="boring-exciting" value="4">
			<input type="radio" id="html" name="boring-exciting" value="5">
			<input type="radio" id="html" name="boring-exciting" value="6">
			<input type="radio" id="html" name="boring-exciting" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="notInteresting-interesting" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>not interesting</span><span>interesting</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="notInteresting-interesting" value="1">
			<input type="radio" id="html" name="notInteresting-interesting" value="2">
			<input type="radio" id="html" name="notInteresting-interesting" value="3">
			<input type="radio" id="html" name="notInteresting-interesting" value="4">
			<input type="radio" id="html" name="notInteresting-interesting" value="5">
			<input type="radio" id="html" name="notInteresting-interesting" value="6">
			<input type="radio" id="html" name="notInteresting-interesting" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="conventional-inventive" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>conventional</span><span>inventive</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="conventional-inventive" value="1">
			<input type="radio" id="html" name="conventional-inventive" value="2">
			<input type="radio" id="html" name="conventional-inventive" value="3">
			<input type="radio" id="html" name="conventional-inventive" value="4">
			<input type="radio" id="html" name="conventional-inventive" value="5">
			<input type="radio" id="html" name="conventional-inventive" value="6">
			<input type="radio" id="html" name="conventional-inventive" value="7">
		</div>
	</div>
	<div class="menu-divider"></div>
	<div id="usual-leadingEdge" class="ueq-s-item">
		<div class="ueq-s-item-first-row"><span>usual</span><span>leadingEdge</span></div>
		<div class="ueq-s-item-second-row">
			<input type="radio" id="html" name="usual-leadingEdge" value="1">
			<input type="radio" id="html" name="usual-leadingEdge" value="2">
			<input type="radio" id="html" name="usual-leadingEdge" value="3">
			<input type="radio" id="html" name="usual-leadingEdge" value="4">
			<input type="radio" id="html" name="usual-leadingEdge" value="5">
			<input type="radio" id="html" name="usual-leadingEdge" value="6">
			<input type="radio" id="html" name="usual-leadingEdge" value="7">
		</div>
	</div>
	<div class="buy-button">Next</div>
</div>