<div class="content-list" id="actinoids">
	<div class="content-item">
		<div class="content-item-thumbnail" id="thorium">
			<div class="content-item-thumbnail-titel"><span>Th</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Thorium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="uranium">
			<div class="content-item-thumbnail-titel"><span>U</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Uranium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="plutonium">
			<div class="content-item-thumbnail-titel"><span>Pu</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Plutonium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="curium">
			<div class="content-item-thumbnail-titel"><span>Cm</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Curium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="berkelium">
			<div class="content-item-thumbnail-titel"><span>Bk</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Berkelium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>