<div class="content-list" id="actinoids">
	<div class="content-item">
		<div class="content-item-thumbnail" id="thorium">
			<div class="content-item-thumbnail-titel"><span>Th</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Thorium</span><span>It is quite reactive and can ignite in air when finely divided.</span></div>
		<div class="content-trade-section">
			<span class="element-price">89.49 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="uranium">
			<div class="content-item-thumbnail-titel"><span>U</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Uranium</span><span>It has the highest atomic weight of the primordially occurring elements.</span></div>
		<div class="content-trade-section">
			<span class="element-price">249.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="plutonium">
			<div class="content-item-thumbnail-titel"><span>Pu</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Plutonium</span><span>It is radioactive and can accumulate in bones.</span></div>
		<div class="content-trade-section">
			<span class="element-price">469.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="curium">
			<div class="content-item-thumbnail-titel"><span>Cm</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Curium</span><span>If it gets into the human body, it accumulates in bones, lungs, and liver.</span></div>
		<div class="content-trade-section">
			<span class="element-price">899.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="berkelium">
			<div class="content-item-thumbnail-titel"><span>Bk</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Berkelium</span><span>Just over one gram of berkelium has been produced in the United States since 1967.</span></div>
		<div class="content-trade-section">
			<span class="element-price">2'499.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>