<div class="content-list" id="actinoids">
	<div class="content-item">
		<div class="content-item-thumbnail" id="thorium">
			<div class="content-item-thumbnail-titel"><span>Th</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Thorium</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="uranium">
			<div class="content-item-thumbnail-titel"><span>U</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Uranium</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="plutonium">
			<div class="content-item-thumbnail-titel"><span>Pu</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Plutonium</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="curium">
			<div class="content-item-thumbnail-titel"><span>Cm</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Curium</span></div>
		<div class="buy-button"></div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="berkelium">
			<div class="content-item-thumbnail-titel"><span>Bk</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Berkelium</span></div>
		<div class="buy-button"></div>
	</div>
</div>