<div class="content-list" id="alkaline-earth-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="beryllium">
			<div class="content-item-thumbnail-titel"><span>Be</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Beryllium</span><span>It occurs only naturally in combination with other elements.</span></div>
		<div class="content-trade-section">
			<span class="element-price">74.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="magnesium">
			<div class="content-item-thumbnail-titel"><span>Mg</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Magnesium</span><span>The metal is obtained mainly by electrolysis of brine.</span></div>
		<div class="content-trade-section">
			<span class="element-price">32.49 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="strontium">
			<div class="content-item-thumbnail-titel"><span>Sr</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Strontium</span><span>It occurs naturally mainly in the minerals celestine and strontianite.</span></div>
		<div class="content-trade-section">
			<span class="element-price">119.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="barium">
			<div class="content-item-thumbnail-titel"><span>Ba</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Barium</span><span>Because of its high chemical reactivity, barium is never found in nature as a free element.</span></div>
		<div class="content-trade-section">
			<span class="element-price">189.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="radium">
			<div class="content-item-thumbnail-titel"><span>Ra</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Radium</span><span>Radium was isolated in its metallic state by Marie Curie.</span></div>
		<div class="content-trade-section">
			<span class="element-price">389.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>