<div class="content-list" id="alkali-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="lithium">
			<div class="content-item-thumbnail-titel"><span>Li</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Lithium</span><span>It is the least dense metal and the least dense solid element.</span></div>
		<div class="content-trade-section">
			<span class="element-price">11.59 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="sodium">
			<div class="content-item-thumbnail-titel"><span>Na</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Sodium</span><span>It does not occur in nature and must be prepared from compounds.</span></div>
		<div class="content-trade-section">
			<span class="element-price">19.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="potassium">
			<div class="content-item-thumbnail-titel"><span>K</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Potassium</span><span>It is a silvery white metal that is soft enough to easily cut with a knife.</span></div>
		<div class="content-trade-section">
			<span class="element-price">34.49 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="rubidium">
			<div class="content-item-thumbnail-titel"><span>Rb</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Rubidium</span><span>It is the first alkali metal in the group to have a density higher than water.</span></div>
		<div class="content-trade-section">
			<span class="element-price">129.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="caesium">
			<div class="content-item-thumbnail-titel"><span>Cs</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Caesium</span><span>It is liquid at or near room temperature.</span></div>
		<div class="content-trade-section">
			<span class="element-price">179.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>