<div class="content-list" id="alkaline-earth-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="beryllium">
			<div class="content-item-thumbnail-titel"><span>Be</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Beryllium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="magnesium">
			<div class="content-item-thumbnail-titel"><span>Mg</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Magnesium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="strontium">
			<div class="content-item-thumbnail-titel"><span>Sr</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Strontium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="barium">
			<div class="content-item-thumbnail-titel"><span>Ba</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Barium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="radium">
			<div class="content-item-thumbnail-titel"><span>Ra</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Radium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>