<div class="content-list" id="alkali-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="lithium">
			<div class="content-item-thumbnail-titel"><span>Li</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Lithium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="sodium">
			<div class="content-item-thumbnail-titel"><span>Na</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Sodium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="potassium">
			<div class="content-item-thumbnail-titel"><span>K</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Potassium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="rubidium">
			<div class="content-item-thumbnail-titel"><span>Rb</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Rubidium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="caesium">
			<div class="content-item-thumbnail-titel"><span>Cs</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Caesium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>