<div class="content-list" id="fictional-nonmetals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="aether">
			<div class="content-item-thumbnail-titel"><span>Ae</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Aether</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="jerktonium">
			<div class="content-item-thumbnail-titel"><span>J</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Jerktonium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="kryptonite">
			<div class="content-item-thumbnail-titel"><span>Ky</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Kryptonite</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="duranium">
			<div class="content-item-thumbnail-titel"><span>Du</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Duranium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="vibranium">
			<div class="content-item-thumbnail-titel"><span>V</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Vibranium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>