<div class="content-list" id="fictional-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="redstone">
			<div class="content-item-thumbnail-titel"><span>Rs</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Redstone</span><span>It is used for mechanical creations in Minecraft.</span></div>
		<div class="content-trade-section">
			<span class="element-price">2.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="netherite">
			<div class="content-item-thumbnail-titel"><span>Nr</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Netherite</span><span>Ît is resistant to burning in fire and lava.</span></div>
		<div class="content-trade-section">
			<span class="element-price">849.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="mithril">
			<div class="content-item-thumbnail-titel"><span>M</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Mithril</span><span>It appears in many derivative fantasy works.</span></div>
		<div class="content-trade-section">
			<span class="element-price">24'499.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="adamantium">
			<div class="content-item-thumbnail-titel"><span>A</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Adamantium</span><span>It is bonded to the character Wolverine's skeleton.</span></div>
		<div class="content-trade-section">
			<span class="element-price">35'299.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="runite">
			<div class="content-item-thumbnail-titel"><span>R</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Runite</span><span>It requires level 50 Mining.</span></div>
		<div class="content-trade-section">
			<span class="element-price">39'899.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	
</div>