<div class="content-list" id="fictional-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="mithril">
			<div class="content-item-thumbnail-titel"><span>M</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Mithril</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="adamantium">
			<div class="content-item-thumbnail-titel"><span>A</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Adamantium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="runite">
			<div class="content-item-thumbnail-titel"><span>R</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Runite</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="redstone">
			<div class="content-item-thumbnail-titel"><span>Rs</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Redstone</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="netherite">
			<div class="content-item-thumbnail-titel"><span>Nr</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Netherite</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>