<div class="content-list" id="halogens">
	<div class="content-item">
		<div class="content-item-thumbnail" id="fluorine">
			<div class="content-item-thumbnail-titel"><span>F</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Fluorine</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="chlorine">
			<div class="content-item-thumbnail-titel"><span>Cl</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Chlorine</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="bromine">
			<div class="content-item-thumbnail-titel"><span>Br</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Bromine</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="iodine">
			<div class="content-item-thumbnail-titel"><span>I</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Iodine</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="astatine">
			<div class="content-item-thumbnail-titel"><span>At</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Astatine</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>