<div class="content-list" id="halogens">
	<div class="content-item">
		<div class="content-item-thumbnail" id="fluorine">
			<div class="content-item-thumbnail-titel"><span>F</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Fluorine</span><span>It reacts with all other elements except for the light inert gases.</span></div>
		<div class="content-trade-section">
			<span class="element-price">29.80 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="chlorine">
			<div class="content-item-thumbnail-titel"><span>Cl</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Chlorine</span><span>It is necessary to all known species of life.</span></div>
		<div class="content-trade-section">
			<span class="element-price">24.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="bromine">
			<div class="content-item-thumbnail-titel"><span>Br</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Bromine</span><span>It does not occur as a free element in nature.</span></div>
		<div class="content-trade-section">
			<span class="element-price">119.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="iodine">
			<div class="content-item-thumbnail-titel"><span>I</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Iodine</span><span>It is required for the synthesis of thyroid hormones.</span></div>
		<div class="content-trade-section">
			<span class="element-price">89.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="astatine">
			<div class="content-item-thumbnail-titel"><span>At</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Astatine</span><span>Several anionic species of astatine are known.</span></div>
		<div class="content-trade-section">
			<span class="element-price">175.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>