<div class="content-list" id="lanthanoids">
	<div class="content-item">
		<div class="content-item-thumbnail" id="cerium">
			<div class="content-item-thumbnail-titel"><span>Ce</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Cerium</span><span>It was the first of the lanthanides to be discovered.</span></div>
		<div class="content-trade-section">
			<span class="element-price">119.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="promethium">
			<div class="content-item-thumbnail-titel"><span>Pm</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Promethium</span><span>It is extremely rare.</span></div>
		<div class="content-trade-section">
			<span class="element-price">9'699.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="samarium">
			<div class="content-item-thumbnail-titel"><span>Sm</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Samarium</span><span>It is the 40th most abundant element in Earth's crust.</span></div>
		<div class="content-trade-section">
			<span class="element-price">19.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="terbium">
			<div class="content-item-thumbnail-titel"><span>Tb</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Terbium</span><span>It is used to dope calcium fluoride.</span></div>
		<div class="content-trade-section">
			<span class="element-price">149.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="thulium">
			<div class="content-item-thumbnail-titel"><span>Tm</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Thulium</span><span>It tarnishes slowly in air and burns readily at 150 °C.</span></div>
		<div class="content-trade-section">
			<span class="element-price">2'459.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>