<div class="content-list" id="metalloids">
	<div class="content-item">
		<div class="content-item-thumbnail" id="boron">
			<div class="content-item-thumbnail-titel"><span>B</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Boron</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="silicon">
			<div class="content-item-thumbnail-titel"><span>Si</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Silicon</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="arsenic">
			<div class="content-item-thumbnail-titel"><span>As</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Arsenic</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="germanium">
			<div class="content-item-thumbnail-titel"><span>Ge</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Germanium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="tellurium">
			<div class="content-item-thumbnail-titel"><span>Te</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Tellurium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>