<div class="content-list" id="metalloids">
	<div class="content-item">
		<div class="content-item-thumbnail" id="boron">
			<div class="content-item-thumbnail-titel"><span>B</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Boron</span><span>The largest known deposits are in Turkey.</span></div>
		<div class="content-trade-section">
			<span class="element-price">799.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="silicon">
			<div class="content-item-thumbnail-titel"><span>Si</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Silicon</span><span>It has a high chemical affinity for oxygen.</span></div>
		<div class="content-trade-section">
			<span class="element-price">199.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="arsenic">
			<div class="content-item-thumbnail-titel"><span>As</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Arsenic</span><span>It is primarily used in alloys of lead.</span></div>
		<div class="content-trade-section">
			<span class="element-price">259.89 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="germanium">
			<div class="content-item-thumbnail-titel"><span>Ge</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Germanium</span><span>It is used as a semiconductor in transistors.</span></div>
		<div class="content-trade-section">
			<span class="element-price">189.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="tellurium">
			<div class="content-item-thumbnail-titel"><span>Te</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Tellurium</span><span>It is occasionally found in its native form as elemental crystals.</span></div>
		<div class="content-trade-section">
			<span class="element-price">79.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>