<div class="content-list" id="noble-gases">
	<div class="content-item">
		<div class="content-item-thumbnail" id="helium">
			<div class="content-item-thumbnail-titel"><span>He</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Helium</span><span>It is created by the natural radioactive decay of heavy radioactive elements.</span></div>
		<div class="content-trade-section">
			<span class="element-price">69.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="neon">
			<div class="content-item-thumbnail-titel"><span>Ne</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Neon</span><span>It is commercially extracted by the fractional distillation of liquid air.</span></div>
		<div class="content-trade-section">
			<span class="element-price">149.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="argon">
			<div class="content-item-thumbnail-titel"><span>Ar</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Argon</span><span>Argon is extracted industrially by the fractional distillation of liquid air.</span></div>
		<div class="content-trade-section">
			<span class="element-price">199.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="xenon">
			<div class="content-item-thumbnail-titel"><span>Xe</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Xenon</span><span>Xenon is used in flash lamps and arc lamps.</span></div>
		<div class="content-trade-section">
			<span class="element-price">299.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="radon">
			<div class="content-item-thumbnail-titel"><span>Rn</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Radon</span><span>It is the immediate decay product of radium.</span></div>
		<div class="content-trade-section">
			<span class="element-price">499.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>