<div class="content-list" id="nonmetals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="carbon">
			<div class="content-item-thumbnail-titel"><span>C</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Carbon</span><span>It is the second most abundant element in the human body.</span></div>
		<div class="content-trade-section">
			<span class="element-price">1.29 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="nitrogen">
			<div class="content-item-thumbnail-titel"><span>N</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Nitrogen</span><span>The human body contains about 3% nitrogen by mass.</span></div>
		<div class="content-trade-section">
			<span class="element-price">4.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="oxygen">
			<div class="content-item-thumbnail-titel"><span>O</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Oxygen</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="phosphorus">
			<div class="content-item-thumbnail-titel"><span>P</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Phosphorus</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="sulfur">
			<div class="content-item-thumbnail-titel"><span>S</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Sulfur</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>