<div class="content-list" id="post-transition-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="aluminium">
			<div class="content-item-thumbnail-titel"><span>Al</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Aluminium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="gallium">
			<div class="content-item-thumbnail-titel"><span>Ga</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Gallium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="indium">
			<div class="content-item-thumbnail-titel"><span>In</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Indium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="lead">
			<div class="content-item-thumbnail-titel"><span>Pb</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Lead</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="bismuth">
			<div class="content-item-thumbnail-titel"><span>Bi</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Bismuth</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>