<div class="content-list" id="post-transition-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="aluminium">
			<div class="content-item-thumbnail-titel"><span>Al</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Aluminium</span><span>It is found on Earth primarily in rocks in the crust.</span></div>
		<div class="content-trade-section">
			<span class="element-price">79.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="gallium">
			<div class="content-item-thumbnail-titel"><span>Ga</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Gallium</span><span>The melting point of gallium is used as a temperature reference point.</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="indium">
			<div class="content-item-thumbnail-titel"><span>In</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Indium</span><span>It is produced as a byproduct of zinc refinement.</span></div>
		<div class="content-trade-section">
			<span class="element-price">109.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="lead">
			<div class="content-item-thumbnail-titel"><span>Pb</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Lead</span><span>It has the highest atomic number of any stable element.</span></div>
		<div class="content-trade-section">
			<span class="element-price">75.00 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="bismuth">
			<div class="content-item-thumbnail-titel"><span>Bi</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Bismuth</span><span>Bismuth metal has been known since ancient times.</span></div>
		<div class="content-trade-section">
			<span class="element-price">85.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>