<div class="content-list" id="transition-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="titanium">
			<div class="content-item-thumbnail-titel"><span>Ti</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Titanium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="iron">
			<div class="content-item-thumbnail-titel"><span>Fe</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Iron</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="copper">
			<div class="content-item-thumbnail-titel"><span>Cu</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Copper</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="iridium">
			<div class="content-item-thumbnail-titel"><span>Ir</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Iridium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="bohrium">
			<div class="content-item-thumbnail-titel"><span>Bh</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Bohrium</span><span>Some description about the element above ...</span></div>
		<div class="content-trade-section">
			<span class="element-price">99.99 £</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>