<div class="content-list" id="transition-metals">
	<div class="content-item">
		<div class="content-item-thumbnail" id="titanium">
			<div class="content-item-thumbnail-titel"><span>Ti</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Titanium</span><span>It's strength-to-density ratio is the highest of any metallic element.</span></div>
		<div class="content-trade-section">
			<span class="element-price">239.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="iron">
			<div class="content-item-thumbnail-titel"><span>Fe</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Iron</span><span>The body of an adult human contains about 4 grams of iron.</span></div>
		<div class="content-trade-section">
			<span class="element-price">129.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="copper">
			<div class="content-item-thumbnail-titel"><span>Cu</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Copper</span><span>It can occur in nature in a directly usable metallic form.</span></div>
		<div class="content-trade-section">
			<span class="element-price">119.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="iridium">
			<div class="content-item-thumbnail-titel"><span>Ir</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Iridium</span><span>Iridium is a component of some OLEDs.</span></div>
		<div class="content-trade-section">
			<span class="element-price">289.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
	<div class="menu-divider"></div>
	<div class="content-item">
		<div class="content-item-thumbnail" id="bohrium">
			<div class="content-item-thumbnail-titel"><span>Bh</span></div>
		</div>
		<div class="content-item-text"><span class="element-name">Bohrium</span><span>It can be created in particle accelerators but is not found in nature.</span></div>
		<div class="content-trade-section">
			<span class="element-price">3'899.99 $</span>
			<div class="buy-button"><span>Buy</span></div>
		</div>
	</div>
</div>