<div id="end-with-consent">
	<p>Thank you for participating in this online experiment! Your responses have been saved.</p>
	<p>You may now click on the button below to refer back to Prolific.</p>
	<div class="prolific-submit-button" onclick="location.href='https://app.prolific.com/submissions/complete?cc=C5MRC9IJ';">Finish</div>
</div>