<div id="end-inatentive">
	<h3>You have been screened out</h3>
	<p>Two obvious verification questions were hidden in the survey ("To show that you are reading these instructions, please leave this question blank."). You failed to answer both of them correctly, so we have to assume that you did not fill in the survey carefully enough.</p>

	<p>We thus screened you out in line with the guidelines on Prolific.
	We are sorry, but we have to end the study at this point and ask you to return the assignment on Prolific.<p>

	<p>Any questions regarding the survey can be sent to Roman Alt (roman.alt@unibas.ch).
	To quit this survey, close this window.</p>
</div>