<div id="wrong-element-layer">
	<div id="wrong-element-box">
		<h3>Wrong element.</h3>
		<p>If you don't remember what element you need to buy, please refer to the objective's page.</p>
		<div id="close-wrong-element-alert">close</div>
	</div>
</div>